<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Game Rating</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('../static/cover.jpg');
            background-size: cover;
            background-attachment: fixed;
            position: relative;
        }
        body::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }
        .container {
            max-width: 800px;
            height: 1000px;
            margin: 0 auto;
            padding: 20px;
        }
        label, h1 {
            justify-content: center;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center"> LET'S RATE YOUR GAME! </h1><br>
        <form method="POST" action="{{url_for('home')}}" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <!-- Left Column -->
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input type="text" class="form-control" id="genre" name="a" placeholder="Enter genre" required>
                    </div>
                    <div class="form-group">
                        <label for="withDLC">withDLC:</label>
                        <input type="text" class="form-control" id="withDLC" name="b" placeholder="Enter 1 if your game has DLC else 0" required>
                    </div>
                    <div class="form-group">
                        <label for="isMature">isMature:</label>
                        <input type="text" class="form-control" id="isMature" name="c" placeholder="Enter 1 if your game has Mature content else 0" required>
                    </div>
                    <div class="form-group">
                        <label for="Developer">Developer:</label>
                        <input type="text" class="form-control" id="Developer" name="d" placeholder="Enter developer" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Right Column -->
                    <div class="form-group">
                        <label for="Publisher">Publisher:</label>
                        <input type="text" class="form-control" id="Publisher" name="e" placeholder="Enter publisher" required>
                    </div>
                    <div class="form-group">
                        <label for="PositiveReviews">PositiveReviews:</label>
                        <input type="text" class="form-control" id="PositiveReviews" name="f" placeholder="Enter positive reviews" required>
                    </div>
                    <div class="form-group">
                        <label for="TotalReviews">TotalReviews:</label>
                        <input type="text" class="form-control" id="TotalReviews" name="g" placeholder="Enter total reviews" required>
                    </div>
                    <div class="form-group">
                        <label for="OriginalPrice">OriginalPrice:</label>
                        <input type="text" class="form-control" id="OriginalPrice" name="i" placeholder="Enter original price" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Left Column -->
                    <div class="form-group">
                        <label for="DiscountPercent">DiscountPercent:</label>
                        <input type="text" class="form-control" id="DiscountPercent" name="j" placeholder="Enter discount percent" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Right Column -->
                    <div class="form-group">
                        <label for="ReleaseYear">ReleaseYear:</label>
                        <input type="text" class="form-control" id="ReleaseYear" name="k" placeholder="Enter release year" required>
                    </div>
                    <div class="form-group">
                        <label for="ReleaseMonth">ReleaseMonth:</label>
                        <input type="text" class="form-control" id="ReleaseMonth" name="l" placeholder="Enter release month" required>
                    </div>
                    <div class="form-group">
                        <label for="ReleaseDay">ReleaseDay:</label>
                        <input type="text" class="form-control" id="ReleaseDay" name="m" placeholder="Enter release day" required>
                    </div>
                </div>
            </div>
            <!-- Add more form groups for other inputs -->
            <button type="submit" class="btn btn-primary">Predict!</button>
        </form>
    </div>

    <!-- Add Bootstrap JavaScript (optional, for certain features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
